<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- 

<h1>Welcome to Angular</h1>

<p>Some para</p>
<div>
  {{ title }}
  <br />
  {{ a }}

  <br />

  {{ 4 * 76 }}

  <br />
  {{ getData() }}
</div> -->
<!--
  Property Binding
-->
<!-- <img [src]="url"> -->
<!-- <input class="form-control" [placeholder]="title" /> -->

<!--
  Event Binding
-->
<!-- 
<h1>{{ title }}</h1>

<button class="btn btn-primary" (click)="changeData()">Click</button> -->

<!--

  Two Way DataBinding

-->
<!-- <input class="form-control" [(ngModel)]="title" [placeholder]="title" /> -->

<!--<div class="jumbotron">Hello</div> -->
<!-- 
<basic></basic>

<div *ngIf="isActive; else e">
  <h1>User is Active</h1>
</div> -->
<!--

  #elseblock is known as Template Variable
-->
<!-- <ng-template #e>
  <h1>User is inActive</h1>
</ng-template>

<hr style="border: thin solid black" /> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- <table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Place</th>
  </tr>
  <tr
    *ngFor="let student of students"
    [ngStyle]="{ 'background-color': getColor(student.place) }"
  >
    <td>{{ student.name }}</td>
    <td>{{ student.Age }}</td>
    <td>{{ student.place }}</td>
  </tr>
</table>

<div [ngClass]="isSpecial ? 'special' : 'notSoSpecial'">
  <p>This is special Paragraph</p>
</div>

<div [ngStyle]="{ color: 'blue' }">
  <p>This is inside another div</p>
</div> -->

<!-- 
<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
<div class="card">
    <pre class="card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b> </pre>
</div> -->
<!-- 
<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button> -->
<!-- <div class="category"></div> -->
